/*filter */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

input {
  font-family: "Raleway", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  /* display: none; */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  /* -ms-overflow-style: none; IE and Edge */
  /* scrollbar-width: none; Firefox */
}

.ant-rate-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyView-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.emptyView-wrap img {
  max-width: 500px;
  width: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home_panelList-wrap,
.home_panel-wrap,
.home_list-wrap {
  /* overflow-y: auto; */
}

.home_panelList-wrap {
  flex: 1;
  display: flex;
}
.home_panel-wrap {
  flex-basis: 280px;
  padding: 1rem;
}
.home_list-wrap {
  flex: 1;
  padding: 1rem;
}
.searchBar-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  padding: 1.5rem 1rem;
}
.searchBar-icon {
  color: rgba(0, 0, 0, 0.26);
  margin-right: 2rem;
}

.searchBar-wrap input {
  font-size: 1.2rem;
  outline: none;
  border: none;
  width: 25%;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
.list-wrap {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; */
}
.label {
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.input-group {
  margin-bottom: 2rem;
}
.input-groups {
  margin-bottom: 0.5rem;
  display: flex;
  /* justify-content: center; */
}
.input-groupr {
  margin-left: 10rem;
  /* justify-content: center; */
}
/* .categorys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
} */
.label-range {
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.listItem-wrap img {
  width: 100%;
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}
.listItem-wrap header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  align-items: center;
}

.listItem-wrap header span {
  font-size: 0.7rem;
  background-color: #97ffff;
  padding: 0.5rem;
  border-radius: 10px;
}
.listItem-wrap footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listItem-wrap footer p:first-child span {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 600;
}
.menu_wrapper .left_col {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
}
.ControlMenu {
  margin-top: -10px;
  margin-right: 18px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.ControlMenus {
  /* margin-top: -10px; */
  margin-right: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f5ebeb;
  height: 45px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding-left: 50px;
  padding-right: 50px;

  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
